body {
	text-align: center;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container {
	margin: 0px;
	padding: 0px;
}

.app {
	margin: 0px;
	padding: 0px;
}

.title-box {
	margin-top: 25px;
}

.input-group {
	margin-top: 50px;
}

#nfa {
	height: 200px;
}
